*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(../img/fondoLogin.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}
h3{
	font-family: 'Arial';
	font-size: 25pt;
	letter-spacing: 1px;
	width: 100%;
	background: #2980b9;
	padding: 15px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;

}
#container{
	background: rgba(0, 0, 0, 0.32);
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
#container form{
	background: rgba(255, 255, 255, 0.3);
	width: 400px;
	padding: 10px;
}

#container form img{
	margin: 15px auto;
	text-align: center;
	display: block;
}
#container form input{
	width: 90%;
	padding: 5px;
	font-size: 16pt;
	display: block;
	margin: 25px auto;
	border-radius: 5px;
	border: 1px solid  #85929e;
	text-align: center;
}

#container form input[type="submit"]{
	background:  #52be80;
	padding: 10px;
	color: #FFF;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
}
.alert{
	font-family: 'Arial';
	font-size: 16px;
	text-align: center;
}

@media screen and (max-width: 460px){
	#container form{
		width: 90%;
	}
}